/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  background-color:white;
}

body {
  background-color:white;
  margin-left:8%; 
  margin-right:8%;
}

a:link {
  color: #26C6DA;
}

a:visited {
  color: #26C6DA;
}

a:active {
  color: #26C6DA;
}

a:hover {
  background-color:#E0F7FA;
}

#webHeader {
  background-color:#00838F;
  padding-right:20px;
}

#webHeader > h1 {
  font-size:20pt;
  display:inline-block;
  text-align:center;
  vertical-align:top;
  padding:10px;
}

#webHeader > div {
  color:#B2EBF2;
}

.headerLink > a:link {
  color:white;
}

.headerLink > a:visited {
  color:white;
}
.headerLink > a:hover {
  background-color: #B2EBF2;
}

#webHeader > img {
  width:18;
  height:18;
  zoom:50%;
  border:1px #ffffff solid;
  display:inline-block;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 10px;
}

#footer {
  background-color:black;
  height:2px;
  margin-bottom:20px;
}

#footerParagraph {
  font-size: 10pt;
  background-color:#f6f6f6;
  text-align: center;
  color:#006064;
}

#searchMain {
  padding-bottom: 20px;
  color:grey;
  text-align: center;
}

#googlesign{
  zoom:50%;
  float:right;
  margin-top:60px;
  margin-left:30px;
}
#sign_out{
  font-size: 11pt;
  color:grey;
  float:right;
  margin-top:5px;
}

.itemInfo {
  font-size:7pt;
  color: grey;
}

.strongBody {
  color:#0097A7;
}

#io {
  color:#0097A7;
}

body > form {

  color:#0097A7;
}


#submit_submit_type {
  color: #26C6DA;
}
.actions > *{ 
  color: #26C6DA;
}

#editLogout {
  position:relative;
}

#a1 {
  position: absolute;
  top:30px;
}
#hp2 {
  position: absolute;
  top:5px;
}
a:link {
  text-decoration: none;
}
[ng-click] {
  cursor: pointer;
}


